$charcoal: #264653ff;
$green: #2a9d8fff;
$yellow: #e9c46aff;
$orange: #f4a261ff;
$darkOrange: #e76f51ff;
$fuscia: #b5179e;
$purple: #7209b7;
$darkBlue: #3a0ca3;
$blue: #48cae4;

$fontMed: 1.5rem;
$fontLg: 3rem;
$fontSm: 1rem;